<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ServerStatus</servlet-name>
        <servlet-class>pub.codo.Controller.StatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerStatus</servlet-name>
        <url-pattern>/api/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>pub.codo.Controller.User.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/api/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>pub.codo.Controller.User.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/api/user/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Channels</servlet-name>
        <servlet-class>pub.codo.Controller.Channel.ChannelsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Channels</servlet-name>
        <url-pattern>/api/channel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Channel</servlet-name>
        <servlet-class>pub.codo.Controller.Channel.ChannelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Channel</servlet-name>
        <url-pattern>/api/channel/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Reminder</servlet-name>
        <servlet-class>pub.codo.Controller.Reminder.RemindersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reminder</servlet-name>
        <url-pattern>/api/reminder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Reminders</servlet-name>
        <servlet-class>pub.codo.Controller.Reminder.ReminderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reminders</servlet-name>
        <url-pattern>/api/reminder/*</url-pattern>
    </servlet-mapping>
</web-app>